
body {
 background-color: gray;
    margin-bottom: 50px;
    font-family:'Bangers', cursive;
    font-size: 20px;
    color: black;
}


label {
    color: #fff;
    padding-right: 15px;
}

.text-right{

    position: ;
    bottom: 60%;
    right: 30%;
 
}
#search-form{
    padding-top: 20px;
}

.jumbotron{
    background-image: url("https://media.giphy.com/media/3o6gbbuLW76jkt8vIc/giphy.gif");
    background-size: 800px, 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
  padding: 200px;
  color: blueviolet;
}
#search-div {
    text-align: center;
}

#searchGif,
button{
    
    background-color: white;

}


#searchGif:hover,
#searchGif:active,
#searchGif:focus,
button:hover,
button:active,
button:focus {
    background-color: lightblue;
    box-shadow: 0px 0px 10px white;
}

.btn-group{
    background-color: gray;
}

.container {
    margin-top: 10px;
}

.btns {
  
}

.gifImgs {
    margin: 5px;
    display: block;
}
#gifButtons {
    text-align: center;
    margin-top: 20px;
}

#search-div {
    margin-bottom: 30px;
}


.gifRating {
    color: white;
}

.imgDiv {
    float: left;
    margin-top: 30px;
    margin: center;
}

#gifButtons{

    background-color: black;
}

#gifResults{


}
